html, 
body {
   height: 100%; 
   overflow: hidden;
}

body {
  font-size: 0.875rem;
}

.feather,
.fa {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #bcbcbc;
}

.sidebar .nav-link .feather,
.sidebar .nav-link .fa {
  margin-right: 4px;
  color: inherit;
}

.sidebar .nav-link.disabled {
  cursor: pointer;
  color: #777;
}

.sidebar .nav-link.active {
  background-color: #6ba8c9;
  color: black;
  border-left: 10px solid #1b97da;  
  box-shadow: inset 0px 1px 4px 1px #22222255;
}

.sidebar .nav-link:hover {
  background-color: #1b97da;
  color: #fff;
  box-shadow: none;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar {
  background-color: #141415;
}

.navbar-brand {
  font-size: 1rem;  
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.user span {
  vertical-align: middle;
}

.user img {
  border-radius: 16px;
}

/* Form */

.form-control.bold {
  font-weight: bold;
}

/* toolbar */

#btnNewRequest,
#btnSaveRequest,
#btnSaveRequest:focus,
#btnNewRequest:focus {
  background-color: #1b97da;
}

.btn:hover {
  box-shadow: 1px 1px 4px 1px #00000055;
  background-color: #1b97da;
}

/* table */

.fixed-table-container {
  border: solid 1px #dee2e6;
}

tbody {
  box-shadow: inset 0px 0px 4px -1px #00000055;
}

td.bold {
  font-weight: bold;
}

thead {
  position: sticky;
  top: 0;
}

.actionButton,
.detail-icon {
  display: inline-block;
  text-align: center;
  margin: 0 1px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: solid 1px #EEE;
}

.actionButton:hover,
.detail-icon:hover {
  box-shadow: 1px 1px 3px 0 #00000055;  
}

span.detailLabel {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  text-align: right;
  font-weight: 500;
}

/* Notification */

.notificationError {
  color: #842029 !important;
  background-color: #f8d7da !important;
  border-color: #f5c2c7 !important;
}